آگهی های تایید شده:<a href="{{path("approved_ads")}}">{{approvedNumber}}</a><br>
آگی های غیر فعال:<a href="{{path("deactive_ads")}}">{{deActiveAdNumber}}</a><br>
آگهی های در انتظار پرداخت:<a href="{{path("payment_waiting")}}">{{paymentAdNumber}}</a><br>
آگهی های رد شده:<a href="{{path("show_denied_ads")}}">{{deniedAdNumber}}</a><br>
تعداد کاربران فعال:<a href="{{path("user_active")}}">{{userActive}}</a><br>
تعداد کاربران غیر فعال:<a href="{{path("user_deactive")}}">{{userDeactive}}</a><br>
<a href="{{path("add_category")}}">اضافه کردن دسته بندی </a>
   