{% extends 'base.html.twig' %}

{% block body %}
    {{category.name}}

    {{form_start(form)}}
    {{form_widget(form)}}
    <input type="submit" value="search">
    {{form_end(form)}}

    {% for val in result %}
        <a href="{{val.ad.id}}">{{val.ad.title}}</a><br>
    {% endfor %}
{#    {% for val in result2 %}
        <a href="{{val.ad.id}}">{{val.ad.name}}</a><br>
    {% endfor %}#}
{% endblock body %}